body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.characters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.characters button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.characters img {
    max-height: 5rem;
}

#canvas {
    /* background-color: skyblue; */
    background-image: url("../assets/imgs/bg.png");
}