/* centers the entire page */
body {
  text-align: center;
}
/* background image for the canvas */
#canvas {
  background-image: url("../assets/imgs/bg.png");
}

/* css for character selection */
.characters {
  display: flex; /* place the characters next to each other */
  justify-content: center; /* center the character div */
  align-items: center; /* align the items in the center */
  gap: 1rem; /* adds a gap in between the characters */
}
.characters button:hover {
  cursor: pointer; /* give the cursor a pointer when hovering over the buttons */
  transform: scale(1.1); /* make the buttons bigger when hovering over them */
}
.characters img {
  max-height: 5rem; /* give the images a max height */
}
