/* centers the entire page */
body {
  text-align: center;
}
/* background image for the canvas */
#canvas {
  background-image: url("../assets/imgs/bg.png");
}

.characters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.characters button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.characters img {
  max-height: 5rem;
}
